/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* GRID SETTINGS */
$full-width:          1020px;
$min-width:           1020px;

/* COLORS */
$white:              #FFF;
$background-light:   #F1F1F1;
$background-dark:    #444;
$main-color:         #55B6E1;
$main-color-accent:  #4494B7;
$sec-color:          #F6CA68;
$sec-color-accent:   #DDB45A;

/* THEME COLORS */
$theme1:             #fff;
$theme2:             #fff;
$theme3:             #fff;
$theme4:             #fff;
$theme5:             #fff;
$theme6:             #fff;
$theme7:             #fff;
$theme8:             #fff;
$theme9:             #fff;
$theme10:            #fff;
$theme11:            #fff;

$swimmingpool-blue:  #4da6ff;

body {
  background: $white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding:0;
  margin:0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: $full-width;
  min-width: $min-width;
  padding: 0 20px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

header {
  position: fixed;
  top:0;
  width: 100%;
  height: 73px;
  z-index: 10;
}

.placeholder-header {
  height: 73px;
  width: 100%;
}
.header--top {
  background: $swimmingpool-blue;
  color: white;
  width: 100%;
  z-index: 9999;
  padding: 15px 0;


  .logo {
    width: 17%;
    font-weight: bold;
    font-size: 26px;
    margin-top: 4px;
    letter-spacing: -1px;
    color: white;

    a {
      color: white;
      text-decoration: none;
    }
  }

  nav {
    width: 63%;

    ul {
    margin:0;
    margin-top: 10px;
    padding: 0;

      li {
        display:inline;
        list-style: none;
        margin-right: 15px;
        padding: 10px;
        font-size: 14px;

        &:hover {
          background: red;
          cursor: pointer;
          background: rgba(0,0,0,0.1);
          border-radius: 5px;
          position: relative;
          top: -1px;
        }

        &:active {
          position: relative;
          top: 1px;
        }

        a {
          color: white;
          text-decoration: none;

        }
      }
     }
  }

  .search {
    width: 20%;
  }
}

.search-field {
  width: calc(100% - 20px);
  border:0;
  padding: 15px 10px;
  font-weight: 16px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.search-field:focus {
  color: black;
  box-shadow: 0;
}


.header--bottom {
  background: $white;
  color: black;
  padding: 15px 0;
  z-index: 1;
  position: relative;
  box-shadow: 0px 0px 173px 0px rgba(0,0,0,0.4);
  display: none;

  ul {
  margin:0;
  padding: 0;

    li {
      display:inline;
      list-style: none;
      margin-right: 20px;
      font-size: 14px;

      a {
        color: #333;
        text-decoration: none;
      }
    }
   }
 }
// VACATION SHOW PAGE by ESTER

.vacation {
margin-top: -100px;
// border: 1px solid red;
display: flex;
flex-direction: row;


  .vacation-pic{
    // border: 1px solid black;
    width: 40%;
    color: black;
    padding: 0px 20px 0px 20px;
    background: white;
    overflow: hidden;
  }

  .vacation-info{
    // border: 2px solid green;
    width: 60%;

    .vacation-title{
      color: white;
      font-size: 50px;
      margin-top: 40px;
      margin-left: 20px;
    }

    .vacation-location{
      // border: 2px solid black;
      margin-left: 25px;
      font-size: 30px;
      margin-top: 25px;

      .social-media.vacation{
        background-color: black;
        width: 100px;
        height: 25px;
      }
    }

      .vacation-price{
        font-size: 20px;
        margin-top: 25px;
      }
    }
  }

.vacation-descr{
  // border: 2px solid black;
  margin-top: 150px;
  margin-bottom: 20px;

  .vacation-descr-title{
    // border: 2px solid black;
    font-size: 30px;
  }

  .vacation-descr-text{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    // border: 2px solid pink;
    font-size: 20px;
    text-align: justify;

    .map {
      // border: solid 2px black;
      height: 300px;
      width: 3000px;
      border-radius: 40%;
      overflow: hidden;
      align-items: center;
      margin-left: 20px;
    }
  }
}

.vacation-selection{
  // border: 2px solid black;
  background-color: #222;
  color: pink;
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
  padding-top: 40px;
  font-weight: bold;
  // opacity: 0.3;

  .flexbox {
    display:flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: nowrap;
  }

  .vacation-selection-pic{
    height: 200px;
    margin: 50px 0;
    margin-right: 3%;
    width: 30%;
    background-color: white;
  }
}

.review {
  height: 300px;
  color: black;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;

  .review-picture{
    border-radius: 50%;
    height: 200px;
    width: 700px;
    overflow: hidden;
    margin-right: 30px;
  }
  .review-text {
    margin-top: 50px;
    text-align: justify;
    vertical-align: middle;

    .review-name {
      margin-top: 50px;
      text-align: right;
    }
  }
}

.vac-show-header {
  border: solid 2px black;
  height: 300px;
  width: 100%;
  color: black;
}

// end of VACATION SHOW PAGE by ESTER

footer {
  color: white;
}

.footer--top {
 background: $background-dark;
 padding: 30px 0;

  .social-media {
    text-align: center;
    width: 100%;
    line-height: 30px;

    img {
      padding: 5px;
    }
  }
}

.footer--bottom {
 background: $background-dark;
 border-top: 1px solid #666;
 padding: 15px 0;
 text-align: center;
 font-size: 11px;
}


.themes {

}

.grid {
  h2 {
    text-align: center;
    font-size: 32px;
    margin: 30px;
  }
}

.thema-kolom {
  float:left;
  width: 140px;
  text-align: center;
  padding: 100px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 20px;
  height: 50px;

  &:last-child {
  }
}

.slider {
  width: 100%;
  height: 230px;
  background: url(http://res.cloudinary.com/unique/image/upload/q_76/v1477408102/Water_lsqdam.jpg) center;
  background-color: #333;
  background-size: cover;
  text-shadow: 0 0 5px #333;
  z-index: -1;

  h1 {
    margin: 0;
    padding: 0;
    letter-spacing: -1px;
    font-size: 30px;
    color: white;
    padding-top: 90px;
    text-align: center;

  }

  h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    font-weight: 300;
  }
}

.theme-banner {
  height: 300px;
  position: relative;
  z-index:-99;
}

.theme-name {
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 55px;
  font-weight: bold;
}

.theme-left-column {
  float: left;
  width: 30%;
  margin-top: 20px;
}

.theme-right-column {
  float: right;
  width: 68%;
  margin-top: 20px;
}

.clear {
  clear: both;
}

.filter {
  width: calc(100%-40px);
  border-radius: 5px;
}

.filtertitle {
  border-radius: 5px 5px 0 0;
  background: $background-dark;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
}

.filtercontent {
  background: $background-light;
  padding: 15px 20px;
  border-radius: 0 0 5px 5px;
}




/* VACATION LIST */
.theme-left-admin {
  background: $background-light;
  margin-top: 20px;
  border-radius: 5px;

  .title {
    padding: 10px 20px;
    color: white;
    background: rgb(46, 110, 89);
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
  }

  .content {
    padding: 10px 20px;

    a {
      text-decoration: none;
      color: black;
      padding: 2px 5px;
      margin-right: 5px;
      border-radius: 5px;
      background: white;
    }
  }
}


.vacation-single {
  background:$background-light;
  border-radius: 5px;
  width: calc(100%);
  margin-bottom: 10px;
  height: 150px;

  .vl-image {
    height: 150px;
    width: 200px;
    background: red;
    float: left;
    margin-right: 20px;
  }

  .vl-title {
    padding: 10px 0 0 20px;
    font-size: 24px;
  }

  .vl-place {
    font-size: 12px;
  }

  .vl-description {
    color: $background-dark;
    opacity: 0.5;
    margin-top: 10px;
    font-size: 13px;
    z-index: -99;
  }

  &:hover {
    box-shadow: 0 0 4px #ccc;
    position: relative;
    top: -2px;
  }
}

.new-theme {
  width: calc(100% - 40px);
  text-align: center;
  padding: 20px;
  background: rgb(52, 181, 123);
  margin-bottom: 10px;
  color: white;

  a {
    color: white !important;
    text-decoration: none;
  }
}

.admin-model {
  min-height: 470px;
  padding: 20px 0;
  width: auto;

  input {
    width: calc(100% - 40px);
    padding: 20px;
  }
}

.vac-details {
  background: $background-dark;
  color: white;
  width: calc(100% - 80px);
  border-radius: 5px;
  padding: 40px;
  margin: 20px 0;
  font-size: 14px;
  font-weight: 100;

  .vacation-title{

    span {
      border: solid 1px white;
      width: 20%;
      text-align: right;
      margin-left: 5px;
    }
  }
}


.vac-desc {
display: flex;
justify-content: space-between;
// margin-top: 60px;

  .vac-desc-left {
  width: 60%;

    h3 {
      margin:0;
      padding: 0;
      font-size: 26px;
    }
    p {
      margin: 0;
      padding: 0;
      font-weight: 100;
      letter-spacing: 0.5px;
      margin-top: 4px;
      max-height: 200px;
      text-align: justify;
    }
  }

  .vac-desc-right {
    width: 35%;

    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}

.vac-review {
display: flex;
justify-content: space-between;

  .vac-review-left {
  width: 15%;
    img {
      width: 100%;
      border-radius: 200px;
    }
  }

  .vac-review-right {
  width: 80%;
    h2 {
      font-size: 26px;
    }

    p {
      margin: 0;
      padding: 0;
      text-align: justify;
    }

    span {
      width: 100%;
      text-align: right;
      display: inline-block;
      margin-top: 10px;
      font-style: italic;
    }
  }
}

.vacation-selection {
  a {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 5px #333;
    margin: 40px 0;


    .thumbnail {
      width: calc(393px - 150px);
      padding: 60px 40px;
      background-size: cover !important;
      background-position: center;
      margin-right: 20px;

      &:nth-child(3) {
        margin: 0;
      }
    }
  }
}

.admin-button {
  padding: 5px;
  color: black;
  background: rgb(225, 254, 48);
  font-size: 12px;
  margin: 3px;
  border-radius: 8px;
}


.about-home {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 5px;

  .column-1 {
    width: calc(48% - 40px);
    border-radius: 5px;
    padding: 20px;
    background: white;
  }

  .column-2 {
    width: calc(48% - 40px);
    border-radius: 5px;
    background: white;
    padding: 20px;
  }

  h3 {
    margin: 0;
    padding: 0;
  }
}

.font-hind {
  font-family: 'Hind', sans-serif;
}

.usp-row {
display: flex;
justify-content: space-between;



  .column {
    width: 20%;
    text-align: center;

  }
}

.bglight {
  background: $background-light;
  padding: 20px 0;
  margin-bottom: 20px;
  margin-top: 0;
}

.about-header {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('http://res.cloudinary.com/unique/image/upload/v1477592996/n400r0dwjofwritekkc4.jpg') center fixed;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 50px 0;

  h1 {
    margin: 0;
    padding: 0;
  }

  h2 {
    margin: 0;
    padding: 0;
  }
}

.about-content {
  margin: 30px 0;

  .column {
    float:left;
    width: 47%;
  }

  .column:last-child {
    margin-left: 6%;
  }
}

.about-featured {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('http://res.cloudinary.com/unique/image/upload/v1477592996/n400r0dwjofwritekkc4.jpg') center fixed;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 50px 0;
  margin-top: 40px;
}
